EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu_email@exemplo.com
EMAIL_PASS=sua_senha_de_aplicativo
EMAIL_TO=seu_email_destinatario@exemplo.com

THRESH_MEM_ALERTA=80
THRESH_MEM_CRITICO=95
LOOP_SECONDS=30
SLEEP_AFTER_CLEAN=30
THRESH_CPU_ALERTA=85
THRESH_CPU_CRITICO=95
THRESH_DISCO_ALERTA=85
THRESH_DISCO_CRITICO=95
THRESH_PING_ALERTA=100
THRESH_PING_CRITICO=300
THRESH_LATENCIA_ALERTA=100
THRESH_LATENCIA_CRITICO=300

PYTHONPATH=src

